/* General page settings */

/* this is include border within element's size */
* {
  box-sizing: border-box;
}

body {
  /* further read on flexbox: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100vh;

  padding: 0;
  margin: 0;
}

header {
  flex: 0 0 100px;

  background-color: #42A5F5;
  /* RGB + alpha (AKA opacity) value */
  border-bottom: 3px solid rgba(255,255,255,0.35);

  z-index: 2;
}

footer {
  flex: 0 0 50px;

  background-color: #4E342E;
  color: white;
  box-shadow: -10px 0 50px 25px #388E3C;

  z-index: 2;
}

main {
  flex: 1 1 0;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;

  background: linear-gradient(170deg, #42A5F5, #64B5F6, #90CAF9, #BBDEFB);
}

.container {
  position: relative;

  width: 80vw;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;

  z-index: 1;
}

.sun {
  position: absolute;
  top: 250px;
  right: 300px;

  height: 150px;
  width: 150px;
  border-radius: 50%;

  background: radial-gradient(farthest-side at 60% 35%, #FFB300, #FFCA28, #FFE082);
  box-shadow: 0 0 150px 150px #FFE082;

  z-index: 2;
}



/* Styling header */

.header-main {
  font-family: 'Modak', cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 4em;
  color: white;

  width: 750px;
  margin: 15px auto;

  border: 4px solid white;
}



/* Styling for instructions, results & start + repeat buttons */

.instructions, .results {
  width: 600px;
  margin: 10px auto;

  position: relative;
  top: -180px;

  background: rgba(255,255,255,0.15);
  border: 2px solid rgba(255,255,255,0.25);

  z-index: 3;
}

.start-button, .repeat-button {
  position: relative;
  top: -150px;

  font-family: 'Lato', sans-serif;
  font-variant: small-caps;
  text-align: center;
  letter-spacing: 1px;

  color: white;

  padding: 5px 10px;
  margin: 0 auto;
  border: 3px solid white;

  z-index: 3;
}

.start-button:hover, .repeat-button:hover {
  background-color: rgba(255,255,255,0.45);
  color: #6D4C41;
  border: 3px solid #6D4C41;

  cursor: pointer;
}

.start-button h3, .repeat-button h3 {
  margin: 0;
}

p {
  font-family: 'Lato', sans-serif;
  font-variant: small-caps;
  text-align: center;
  letter-spacing: 1px;

  color: white;
}

li {
  font-family: 'Lato', sans-serif;
  font-variant: small-caps;
  text-align: left;
  letter-spacing: 1px;

  color: white;
}



/* Styling balloon(s) */

.balloon {
  margin: 25px;
  display: inline-block;
  position: absolute;
  bottom: 0;
}

.inflatable {
  height: 100px;
  width: 90px;
  background: radial-gradient(farthest-side at 60% 35%, #FFF9C4, #FFF176, #FFEB3B);

  cursor: crosshair;
  border-radius: 50%;
}

.string {
  width: 2px;
  height: 100px;
  margin-left: 45px;
  background-color: black;
}
